body {
    padding-top: 50px;
    padding-bottom: 20px;
 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.post > h2, .post > div {
    background: #4cff00;
    padding: 10px;
    margin: 0;
}
.post{
    margin-top: 15px;
    background-color: aliceblue;
}
.alert{
    margin-top: 10px;
}
.sidebar {
    float: right;
    background-color: #06C0AB;
    font: 25px Lato;
    font-weight: 100;
    text-align: center;
    text-size-adjust: 200%;
}
.button:hover{
    background-color:yellow;
    opacity: 0.75;
}
.button{
    opacity: 1;
}
.pagination{
    float: none;
    width: 25%;
    height: 40%;
    background-color: #06C0AB;
    font: 25px Lato;
    font-weight: 100;
    text-align: center;
    position: sticky;
}
.table{
    background-image: url("Images/Images/download.jpg");
}
.title{
    color: Highlight;
}
