
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div>
    <p><i>This site is for everyone interested in Pharmacy</i></p>
    <p><i>If you want more information about Drugs go to:</i> <a href="https://www.drugs.com/drug_information.html">Drugs Info</a></p>
</div>
