@{
    ViewBag.Title = "Home";
}

@model List<DemoBlog.Models.Post>
<div style="background-image:url(/Content//Content/images.jpg)">

    <img src="~/Content/images.jpg" alt="logo">
    @foreach (var post in Model)
    {
        <div class="row">
            <div class="post col-md-6">
                <h2 class="title" style="text-align:center;color:black">@post.Title</h2>
                <div>
                    Posted on <i>@post.Date</i>
                    @if (post.Author != null)
                {
                        @:by <i>@post.Author.UserName</i>
                }
                </div>
                <p style="text-align:center">@Html.Raw(post.Body)</p>
            </div>
        </div>
    }
</div>
