@{
    ViewBag.Title = "Home";
}

@model List<DemoBlog.Models.Post>

@foreach (var post in Model)
{
    <div class="row">
        <div class="post col-md-6">
            <h2>@post.Title</h2>
            <div>
                Posted on <i>@post.Date</i>
                @if (post.Author != null)
                {
                    @:by <i>@post.Author.UserName</i>
                }
            </div>
            <p>Post content comes here</p>
        </div>
    </div>
}